.sidebar {
    display: flex;
    flex-direction: column;
}
.sidebar a {
    color: #130b0b;
    text-align: start;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;   
}
.sidebar a:hover {
    background-color: #ddd;
    color: black;
  }
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }